@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{ */
  /* margin: 0;
  padding: 0;
  background-color: gray;
  font-size: medium;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; */
/* } */

body{
  
}


.light{
  background-color: white;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}