@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: purple;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column-reverse;
}