@tailwind base;
@tailwind components;
@tailwind utilities;  

body{
  background-color: gray; 
  color: red;         
}
/* div{
  font-size: 700px;  
} */

.theme{
  width: 100%;
  height: 100vh; 
   /* display: flex; 
  flex-direction: column;    
  justify-content: center; 
  align-items: center;  */
   transition: all 1s ease;            
}

.light{
  background-color: white;   
  color: #000000 ;  
}
.dark{
  background-color: #000000;    
  color: white;    
}      